{% extends "layout.html" %}
{% block content %}
	<div class="input-container">
		<form  action="{{ url_for('save') }}" method="POST">
		<input class="input-field" type="text" name="paragraphs" value="{{ cookie.get('paragraphs', '') }}">
		<label class="input-label" for="paragraphs">paragraphs</label>
		<input class="input-button" type="submit" value="Generate">
		</form>
	</div>
	{% block ipsum %}
	<div class="warning-container">
		<p class="warning-text">'The Room' is an R-rated film: spicy content ahead</p>
	</div>
	{% endblock %}
{% endblock %}