<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Bitter&family=Emilys+Candy&family=Fredericka+the+Great&family=Pangolin&family=Schoolbell&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/normalize.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<title>The Room Ipsum</title>
</head>
<body>
	<div class="container">
		<header>
			<h1><a href="{{ url_for('index') }}">The Room Ipsum</a></h1>
			<h2> - oh hai Mark!</h2>
		</header>
		{% block content %}{% endblock %}
		<footer>
			<p class="helper-text"><a class="underline-link" href="http://www.annapi.ch" target="_blank">Anna Pichugina</a> © {{ CURRENTYEAR }} | Original transcript <a class="underline-link" href="https://medium.com/@DavidKlion/full-transcript-of-the-room-341e4286db8e">here</a></p>
		</footer>
	</div>
</body>
</html>