{% extends "index.html" %} {% block ipsum %}
<div class="textbox-container">
	<button class="copy-button" onclick="copy()">Copy to clipboard</button>
  <textarea
    class="textbox"
    name="ipsum_text"
    autofocus
		onfocus="this.style.height=this.scrollHeight+3+'px';"
		onchange="this.style.height=this.scrollHeight+3+'px';"
  >{{ ipsum_text }}</textarea>
</div>
<script>
  function copy() {
    const copyText = document.querySelector("textarea");
    copyText.select();
    copyText.setSelectionRange(0, 99999); // for mobiles
    document.execCommand("copy");
  }
</script>
{% endblock %}